body,html{
    font-family: 'Poppins', sans-serif;
}
.headerOverlap {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  :root {
    --colorGrey: #959494;
    --colorBlack: #2D2D2D;
    --colorRed: #E10000;
  }
  .mynav a:hover,.mynav a.active{
    color: var(--colorGrey);
  }
  .h100vh{
    height: 100vh;
  }
  .banner{
    top: 0px;
  }
  .myFooter {
    max-height: 320px;
    overflow: hidden;
  }
  .bTop {
    border-top: 1px solid #fff;
    padding-top: 38px;
    margin-top: 40px;
  }
  .posBorder{
    border-top: 1px solid #ddd;
  }
  .pos::before{
    background: #ddd;
    content: "";
    position: absolute;
    top: 0px;
    width: 100px;
    height: 1px;
  }

  .greyishGrad{
background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top,  #f5f5f5 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f5f5f5 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f5f5f5 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

  }

  .middle{
    margin-top: -70px;
  }
  .mnLine{
    line-height: 64px;
  }
  .shortGrey {
    background: #ddd;
    height: 200px;
    position: absolute;
    width: 100%;
  }
  .innerHeader{height: 77px;
    overflow: hidden;}

    .owl-carousel .owl-nav.disabled {
      display: flex !important;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      top: 40%;
  }
  .owl-carousel .owl-nav.disabled .owl-prev {
      position: relative;
      left: -37px;
  }
  .owl-carousel .owl-nav.disabled .owl-next {
      position: relative;
      right: -37px;
  }

  .abtGradient{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+33,959494+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 33%, #959494 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 33%,#959494 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 33%,#959494 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#959494',GradientType=0 ); /* IE6-9 */


  }
  button.owl-dot {
    border: 1px solid #3c3c3c !important;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin-right: 5px;
  }
  button.owl-dot.active {
    background: #3c3c3c !important;
  }

  .titleGreyBg{
    background: #D9D9D9;
  }
  .grayscale {
    filter: grayscale(100%);
  }
  .logo:hover{
    color: #fff;
  }
  .scheduleIframe{
    width: 100%;
    height: 450px;
  }
  @media only screen and (max-width:1024px) and (min-width:767px) {
    .middle {
      margin-top: 0px;
    }
    .shortGrey {
      height: 150px;
    }
    body .fs60 {
      font-size: 45px;
    }
    body .fs150 {
      font-size: 90px;
    }
    body .fs35 {
      font-size: 25px;
    }
    body .fs70 {
      font-size: 45px;
    }
    body .mnLine {
      line-height: 44px;
    }
    .valueSection h2 {
      margin-bottom: 30px;
    }
  }
  .modal-header {
    border: none;
  }
  .modal-body {
    padding-bottom: 50px;
  }
  .modal-body .mynav li {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .modal-body .mynav li a {
    margin-right: 0px;
  }
  @media only screen and (max-width:767px) {
    .d-xs-none{
      display: none !important;
    }
    .mobReverse {
      flex-direction: column-reverse;
    }
    .banner > img {
      height: 480px;
    }
    body .fs150 {
      font-size: 60px;
    }
    body .fs35 {
      font-size: 20px;
    }
    body .btnTheme {
      font-size: 14px;
    }
    body .fs70 {
      font-size: 30px;
      line-height: 32px;
    }
    .valueSection h2 {
      margin-bottom: 30px;
    }
    body .fs60 {
      font-size: 36px;
    }
    .middle {
      margin-top: 0px;
    }
    .myFooter > img {
      height: 320px;
    }
    .bTop {
      margin-top: 15px;
      padding-bottom: 15px;
      padding-top: 15px;
    }
  }
  body {
    overflow-x: hidden;
  }
  .lh40 {
    line-height: 40px;
  }